// Place all the styles related to the champions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.champ-img-square {
	display: inline-block;
    overflow: hidden;
    padding: 10px;
    padding-bottom: 5px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: #333;
}

div.champ-img-square p {
	font-size: 18px;
    margin: 0px;
    color: #EAEAEA;
}