<p id="notice"><%= notice %></p>

<h1>Champions</h1>

<div class="champ-grid">
<% @champions.each do |champion| %>
  <div class="champ-img-square">
    <img src='http://ddragon.leagueoflegends.com/cdn/6.20.1/img/champion/<%= champion.image['full'] %>' alt='<%= champion.title %>'/>
    <p><%= champion.name %></p>
  </div>
<% end %>
</div>
<br>
